.post .pjax article blockquote {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-left: 4px solid #42b983;
    border-right: 4px solid #42b983;
    border-radius: 10px;
}