pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid #e2dede;
    background: #FFF;
    overflow: hidden;
}

code.has-numbering {
    margin-left: 30px;
}

code.has-numbering.widther {
    margin-left: 35px;
}

.pre-numbering {
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 0.5em 3px 0.7em 5px;
    border-right: 1px solid #C3CCD0;
    text-align: right;
    color: #AAA;
    background-color: #fafafa;
}

.pre-numbering.widther {
    width: 35px;
}