.post .pjax article .article-entry>ol,
.post .pjax article .article-entry>ul,
.post .pjax article>ol,
.post .pjax article>ul {
    border: #e2dede solid 1px;
    border-radius: 10px;
    padding: 10px 32px 10px 56px;
}

.post .pjax article .article-entry li>ol,
.post .pjax article .article-entry li>ul,
.post .pjax article li>ol,
.post .pjax article li>ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

.post .pjax article .article-entry>ol>li,
.post .pjax article .article-entry>ul>li,
.post .pjax article>ol>li,
.post .pjax article>ul>li {
    margin-bottom: auto;
    margin-left: auto;
}

.post .pjax article .article-entry li>ol>li,
.post .pjax article .article-entry li>ul>li,
.post .pjax article li>ol>li,
.post .pjax article li>ul>li {
    margin-bottom: auto;
    margin-left: auto;
}