@import "_partial/*"

html, body
  width: 100%
  height: 100%
  margin: 0
  color: #283444
  font: 400 16px/1 "Open Sans","Hiragino Sans GB",sans-serif
  -webkit-font-smoothing: subpixel-antialiased
  -webkit-text-size-adjust: none
  overflow: hidden

a
  color: inherit
  text-decoration: none
  cursor pointer
  -webkit-transition: color .35s
  -moz-transition: color .35s
  -ms-transition: color .35s
  -o-transition: color .35s
  transition: color .35s

h1, h2, h3, h4, h5, h6
  /* font-weight: 400 */
  /*margin: 10px 0*/
  font-family: inherit
  font-weight: bold
  color: #283444
  text-rendering optimizelegibility
  border-bottom: 1px solid #eee

.nav
  width: 542px
  height: 100%
  float: left
  transition: margin-left 0.5s cubic-bezier(0.77, 0, 0.175, 1)
  &.fullscreen
    margin-left: -585px

@import "mobile.styl"
