<div class="friends-area">
    <div class="friends-title">
        <%= __('links') %>
        <i class="iconfont icon-left"></i>
    </div>
    <div class="friends-content">
        <ul>
            <% for (var friend in theme.friends){ %>
            <li><a target="_blank" href="<%- url_for(theme.friends[friend]) %>"><%=friend %></a></li>
            <% } %>
        </ul>
    </div>
</div>