<button class="full" data-title="<%= __('titles.toggle_full_screen') %><%= theme.shortcutKey !== false ? ' ' + __('titles.shortcut_key') + ' s' : '' %>"><span class="min <%= is_home() ? 'mobile' : '' %>"></span></button>
<a class="" id="rocket" ></a>
