<article>
    <div class="post-meta">
    </div>
    <h1 class="article-title" data-identifier="">Why Blog</h1>
    <div class="toc-ref">
        <ol class="toc">
            <li class="toc-item toc-level-2">
                <a class="toc-link" href="#对博客的理解">
                    <span class="toc-text">对博客的理解</span>
                </a>
            </li>
            <li class="toc-item toc-level-2">
                <a class="toc-link" href="#博客平台">
                    <span class="toc-text">博客平台</span>
                </a>
            </li>
        </ol>
        <style>
            .left-col .switch-btn,
            .left-col .switch-area {
                display: none;
            }
            .toc-level-3 i,
            .toc-level-3 ol {
                display: none !important;
            }
        </style>
    </div>
    <h2 id="对博客的理解">对博客的理解</h2>
    <p>喜欢写Blog的人，会经历三个阶段。</p>
<blockquote>
第一阶段，刚接触Blog，觉得很新鲜，试着选择一个免费空间来写。<br>
第二阶段，发现免费空间限制太多，就自己购买域名和空间，搭建独立博客。<br>
第三阶段，觉得独立博客的管理太麻烦，最好在保留控制权的前提下，让别人来管，自己只负责写文章。
</blockquote>
    <p>
        我们每个人的在网络上产生的数据越来越多，这些信息是我们在互联网上存在过的痕迹，值得我们认真对待。但是它们被分散分布在各个网站上。很多时候我们很难将它们聚合在一起，而且各个网站的信息排布方式也没有办法自由控制，所以我们需要一个可以由自己主宰的空间——博客。</p>
    <p>通过博客，我们可以记录自己的生活和成长的轨迹。它不像 Twitter 那样碎片化，也不像 Facebook 那样关系化，它是私人的空间。</p>
    <h2 id="博客平台">博客平台</h2>
    <p>这个博客通过 <a href="https://hexo.io/" target="_blank">Hexo</a> 生成，部署在 <a href="https://pages.github.com/"
                                                                            target="_blank">GitHub Pages</a>，主题<a
                href="https://github.com/yelog/hexo-theme-3-hexo" target="_blank">3-hexo</a>已经在github上开源
    <p>主要功能：<br>
    <ul>
        <li> 通过分类（category）展示文章列表</li>
        <li> 模糊搜索文章标题</li>
        <li> 搜索支持tag搜索，例如：#Hexo</li>
        <li> 搜索支持作者搜索，例如：@杨玉杰</li>
        <li> 全屏功能和文章toc显示</li>
        <li> 评论</li>
        <li> pad/手机等移动端适配</li>
    </ul>
</article>
<% if(theme.reward){%>
<p>
    <a href="javascript:void(0)" class="dashang" onclick="dashangToggle()">赏</a>
</p>
<%}%>