<a href="/" class="avatar" style="background-image:url(<%=theme.avatar%>)"></a>
<ul>
    <li class="all active">全部文章</li>
    <% site.categories.forEach(function(category, i){ %>
    <li data-rel="<%=category.name%>"> <%=category.name%> </li>
    <% }) %>
</ul>