<div class="tags-list">
    <% site.tags.forEach(function(tag, i){ %>
    <li class="article-tag-list-item">
        <a class="color<%= tag.name.length % 5 + 1 %>"><%-tag.name%></a>
    </li>
    <% }) %>
    <div class="clearfix"></div>
</div>
