<div class="toc-ref">
    <% if(index){ %>
        <%- toc(partial('indexs.md'), {list_number: false}) %>
    <%} else {%>
        <%- toc(post.content, {list_number: false}) %>
    <% } %>
<style>
    .left-col .switch-btn,
    .left-col .switch-area {
        display: none;
    }
    .toc-level-<%= theme.toc.max_depth %> i,
    .toc-level-<%= theme.toc.max_depth %> ol {
        display: none !important;
    }
</style>
</div>