<% if (!theme.comment.preload_comment) { %>
    <aside class="comment-bar">
        <a href="javascript:void(0);">
            <i class="fa fa-commenting-o animated infinite pulse"></i>
            <i class="fa fa-spinner fa-pulse"></i>
            <span class="count-comment"></span>
        </a>
    </aside>
    <script>
        var isLoadComments = false;
        var $commentBar = $("#comments aside.comment-bar");
        var load$hide = function(){
            if(isLoadComments){
                return;
            }
            isLoadComments = true;
            if(isLoadComments )
            $commentBar.find("a > i").toggle();
            loadComment();
            $commentBar.fadeOut(800);
        }
        $commentBar.click(function(){
            load$hide();
        })
        $commentBar.children("a").mouseenter(function(){
            load$hide();
        })
    </script>
<% } else { %>
    <script> loadComment(); </script>
<% } %>