<div class="gentie" id="comments">
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <script>
        var cloudTieConfig;
        function loadComment() {
            cloudTieConfig = {
                url: "<%=url%>",
                sourceId: "",
                productKey: "<%=theme.gentie.product_key%>",
                target: "cloud-tie-wrapper"
            };
            $.getScript("https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js");
        }
    </script>
    <%- partial('click2show') %>
</div>