<div id="comments">
    <script src="https://utteranc.es/client.js"
            repo="<%=theme.utteranc.repo%>"
            issue-term="<%=theme.utteranc.issue_term%>"
            theme="<%=theme.utteranc.theme%>"
            label="<%=theme.utteranc.label%>"
            crossorigin="anonymous"
            async>
    </script>
</div>
