.shang_box
  width: 540px;
  height: 450px;
  padding: 10px;
  background-color: #3f3f3f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  z-index: 41;
  left: 50%;
  top: 50%;
  margin-left: -280px;
  margin-top: -225px;
  border: 1px dotted #000;
  display none
  .shang_close
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 50px;
    right: 19px;
    outline: none;
    text-shadow: none;
    color: #4094c7;
  .shang_tit
    width: 100%;
    font-family: Roboto, "Roboto", serif;
    height: 75px;
    text-align: center;
    line-height: 66px;
    color: #fff;
    font-size: 30px;
    margin-top: 7px;
    margin-right: 2px;
  .shang_payimg
    width 255px
    height 255px
    padding 10px
    border 6px solid #4094c7
    margin 0 auto
    -webkit-border-radius 3px
    border-radius 3px
    overflow hidden
    .pay_img
      width 535px
      vertical-align middle
      transition margin-left .5s
      &.weixin_img
        margin-left -280px
      img
        width 255px
        &.weixin
          margin: auto 0 auto 16px;
          display: block;
          float: right;
  .shang_payselect
    font-size: 20px;
    color: white
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    height: 60px;
    width: 320px;
    input[type=radio],label
      cursor pointer
.hide_box
  z-index: 40;
  background: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  left: 0;
  top: 0;
  bottom 0;
  right 0
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;