@font-face
  font-family 'icomoon'
  src: url('fonts/icomoon.eot?ul7tfk')
  src: url('fonts/icomoon.eot?ul7tfk#iefix') format('embedded-opentype'),
          url('fonts/icomoon.ttf?ul7tfk') format('truetype'),
          url('fonts/icomoon.woff?ul7tfk') format('woff'),
          url('fonts/icomoon.svg?ul7tfk#icomoon') format('svg')
  font-weight normal
  font-style normal

.article .article-meta .date:before,
.nav-right nav a:before, #local-search-result a:before, .nav-right form .cross:before, .full-toc .full .min:before,
.full-toc .full .max:before, .full-toc .post-toc-menu .post-toc-menu-icons:before,
.nav-left .icon a:before, #post .pjax article .article-meta .top:before, .article .article-meta .author:before
.full-toc #rocket:before, .full-toc #rocket:after, .nav-right .back-title-list:before
  margin-right .2em
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased

// 在线字体 online font by alibaba
@font-face {
  font-family: 'iconfont';  /* project id 236002 */
  src: url('//at.alicdn.com/t/font_236002_600u3zzht94.eot');
  src: url('//at.alicdn.com/t/font_236002_600u3zzht94.eot?#iefix') format('embedded-opentype'),
          url('//at.alicdn.com/t/font_236002_600u3zzht94.woff2') format('woff2'),
          url('//at.alicdn.com/t/font_236002_600u3zzht94.woff') format('woff'),
          url('//at.alicdn.com/t/font_236002_600u3zzht94.ttf') format('truetype'),
          url('//at.alicdn.com/t/font_236002_600u3zzht94.svg#iconfont') format('svg');
}

// 使用本地字体 local font
//@font-face {
//  font-family: 'iconfont';  /* project id 236002 */
//  src: url('fonts/iconfont.eot');
//  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/iconfont.woff2') format('woff2'),
//          url('fonts/iconfont.woff') format('woff'),
//          url('fonts/iconfont.ttf') format('truetype'),
//          url('fonts/iconfont.svg#iconfont') format('svg');
//}

.iconfont {
  font-family: "iconfont","custom-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e787";
}

.icon-search:before {
  content: "\e60f";
}

.icon-email:before {
  content: "\e665";
}

.icon-cancle:before {
  content: "\e602";
}

.icon-right:before {
  content: "\e65b";
}

.icon-tag:before {
  content: "\e603";
}

.icon-rss:before {
  content: "\e611";
}

.icon-csdn:before {
  content: "\e601";
}

.icon-juejin:before {
  content: "\e605";
}

.icon-twitter:before {
  content: "\e659";
}

.icon-github:before {
  content: "\e600";
}

.icon-jianshu:before {
  content: "\e68a";
}

.icon-zhihu:before {
  content: "\e6c2";
}

.icon-facebook:before {
  content: "\e604";
}

.icon-linkedin:before {
  content: "\e64d";
}

.icon-instagram:before {
  content: "\e66c";
}

.icon-weibo:before {
  content: "\e698";
}

.icon-oschina:before {
  content: "\e606";
}

.icon-reddit:before {
  content: "\e60c";
}

.icon-qq:before {
  content: "\e626";
}

.icon-kugou:before {
  content: "\e6ce";
}

.icon-file-tree:before {
  content: "\e6a6";
}

.icon-left:before {
  content: "\e624";
}

.icon-list:before {
  content: "\e619";
}

.icon-category:before {
  content: "\e62c";
}

.icon-tag:before {
  content: "\e7a3";
}

.icon-case-sensitive:before {
  content: "\e612";
}

.neteasemusic:before {
  content: "\e607";
}


.iconfont-svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
