.full-toc
  .full
    display block
    position fixed
    top 30px
    right 40px
    z-index 31
    width 42px
    height 42px
    padding 0
    background transparent
    border none
    border-radius 2px
    outline none
    overflow hidden
    cursor pointer
    .min ,.max
      transform translateX(50%)
      padding-top 9px
      display block
      width 200%
      height 42px
      margin-left -100%
      font-size 24px
      line-height 42px
      color #fff
      background #2A2935
      overflow hidden
    .min:before
      float left
      width 50%
      content "\e98b"
    .max:before
      float left
      width 50%
      content "\e98c"
  #rocket
    position fixed
    bottom 30px
    top auto
    right 20px
    font-size 40px
    z-index 21
    display none
    opacity 0
    transition opacity .8s,bottom .8s
    &:hover
      opacity 1
    &:hover::before
      color #449fdb
    &:before
      content "\e900"
      position absolute
      bottom 0
      right -4px
      transition color .5s
    &.launch
      bottom 450px
      opacity 0
      &:before
        content "\e900"
        position absolute
        bottom 0
        right -4px
        color #449fdb
      &:after
        content "\e9a9"
        position absolute
        right 9px
        bottom -16px
        font-size 21px
        color red