.post
  height 100%
  font-size 18px
  line-height 1.6
  background white
  overflow-x hidden
  overflow-y auto
  -webkit-overflow-scrolling touch
  color #2f2f2f
  font-weight normal
  margin-left 1px
  & ::selection
    color white
    background #33caa6
    text-shadow none
  .pjax
    max-width 900px
    min-height calc(100vh - 143px)
    margin 0 auto
    overflow-y auto
    transition padding-right .5s
    opacity: 1;
    &.fadeIns
      -webkit-animation fadeIns .3s
      -moz-animation fadeIns .3s
      -ms-animation fadeIns .3s
      -o-animation fadeIns .3s
      animation fadeIns .3s
    &.fadeOuts
      -webkit-animation fadeOuts .2s
      -moz-animation fadeOuts .2s
      -ms-animation fadeOuts .2s
      -o-animation fadeOuts .2s
      animation fadeOuts .2s
    article
      padding-top 2.5em
      .article-entry>p:nth-child(1)
        margin-top 20px
      .article-meta
        font-size .9em
        color #BCC1C4
        border-left: 3px solid #b4b4b4;
        padding-left: 10px;
        .origin
          a
            color inherit
            &:hover
              color: #4078c0
        .top-comment
          a
            cursor pointer
            color inherit
            font 400 15px/1 "Open Sans", "Hiragino Sans GB", sans-serif
            &:hover
              color: #4078c0
        .top
          &:before
            content "\f08d"
          a
            color inherit
            margin-left 5px
            &:hover
              text-decoration none
              cursor text
        .author
          &:before
            content "\f007"
          &:hover
            cursor pointer
          a
            margin-left 5px
            color inherit
            &:hover
              text-decoration none
        .book
          &:before
            content "\f02d"
          a
            cursor pointer
            margin-left -6px
            color inherit
            &:hover
              color: #4078c0
        .tag
          &:before
            content "\e936"
          a
            height 18px
            line-height 18px
            font-size 0.9em
            padding 0 5px 0 10px
            color #fff
            position relative
            border-radius 0 5px 5px 0
            margin 5px 4px 5px 8px
            white-space nowrap
            &:hover
              text-decoration none
            &:before
              content " "
              width 0
              height 0
              position absolute
              top 0
              left -18px
              border 9px solid transparent
              border-right-color #d0d0d0
            &:after
              content " "
              width 4px
              height 4px
              background-color #fff
              border-radius 4px
              box-shadow 0 0 0 1px rgba(0,0,0,.3)
              position absolute
              top 7px
              left 2px
            &.color1
              background  #FF945C
              &:before
                border-right-color #FF945C
            &.color2
              background  #cc8167
              &:before
                border-right-color #cc8167
            &.color3
              background  #BA8F6C
              &:before
                border-right-color #BA8F6C
            &.color4
              background #94635c
              &:before
                border-right-color#94635c
            &.color5
              background #7B5D5F
              &:before
                border-right-color#7B5D5F
      .article-title
        margin 0
        font-size 1.8em
        border-bottom 0px
        line-height: 31px
        margin-bottom: 10px
      .toc-ref
        display none
      a
        color #4078c0
        word-break break-all
        font-family sans-serif
        &:hover
          text-decoration underline
      .div_img,figure
        margin 0
        padding 10px 0
        text-align center
      img
        max-width 95%
        display inline-block
        margin auto
        cursor zoom-in
        padding 1px
      .img_alt
        text-align center
        span
          border-bottom 1px solid #d9d9d9
          padding 10px 30px
          color #969696
          font-family  "Open Sans","Hiragino Sans GB",sans-serif
          display inline-block
      blockquote
        padding 20px
        margin 1em 0
        background-color #f7f7f7
        border-left .25em solid #b4b4b4
        word-break break-word
        font-size 16px
        font-weight 400
        line-height 30px
        p
          margin-bottom 0px
      p
        margin 0 0 16px
      ol>li
        margin-bottom 10px
        margin-left -9px
      ul:not(.pre-numbering)>li
        margin-bottom 10px
        margin-left -20px
      table
        padding 0
        border-spacing 0
        border-collapse collapse
        tr
          border-top 1px solid #cccccc
          background-color white
          margin 0
          padding 0
          &:nth-child(2n)
            background-color #f8f8f8
          th
            font-weight bold
            border 1px solid #cccccc
            text-align left
            margin 0
            padding 6px 13px
            &:first-child, &:last-child
              margin-top 0
              margin-bottom 0
          td
            border 1px solid #ddd
            text-align left
            margin 0
            padding 6px 13px
            &:first-child, &:last-child
              margin-top: 0
              margin-bottom: 0
        &.green
          tr
            &:nth-child(2n)
              background-color #E3F1EA
            th
              color #fff
              font-weight bold
              background-color #5DB084
        &.green_title
          tr th
            color: #eee;
            border: 1px solid #009688
            background-color: #009688
      /* Inline code */
      :not(pre) > code
        color #BF1827
        font-family sans-serif
      pre > code
        font-size 15px
        border-radius 3px
        /* 滚动条 */
        &::-webkit-scrollbar-thumb:horizontal  /*水平滚动条的样式*/
          width: 5px;
          background-color: #CCCCCC;
          -webkit-border-radius: 6px;
        &::-webkit-scrollbar-track-piece
          background-color: #fff; /*滚动条的背景颜色*/
          -webkit-border-radius: 0; /*滚动条的圆角宽度*/
        &::-webkit-scrollbar
          width: 10px /*滚动条的宽度*/
          height: 8px /*滚动条的高度*/
        &::-webkit-scrollbar-thumb:vertical  /*垂直滚动条的样式*/
          height: 50px;
          background-color: #999;
          -webkit-border-radius: 4px;
          outline: 2px solid #fff;
          outline-offset: -2px;
          border: 2px solid #fff;
        &::-webkit-scrollbar-thumb:hover  /*滚动条的hover样式*/
          height: 50px;
          background-color: #9f9f9f;
          -webkit-border-radius: 4px;

  .dashang
    display: block;
    width: 56px;
    margin: auto;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    color: #fff;
    border: none;
    background: #4094c7;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    -webkit-transition: 0.4s ease-in-out
    -webkit-transition: 0.4s ease-in-out
    -moz-transition: 0.4s ease-in-out
    -ms-transition: 0.4s ease-in-out
    transition: 0.4s ease-in-out
  .copyright
    margin-top 50px
    padding-bottom 30px
    font-size 16px
    line-height 14px
    text-align center
    color #BCC1C4
    a
      color #4078c0
      word-break break-all
      font-family sans-serif
      &:hover
        text-decoration underline
  .article_copyright
    padding 5px 30px
    margin-bottom 20px
    background-color #83b3c1
    border-radius 8px
    font-weight 700
    line-height 22px
    color #444
    font-size 16px
    .copy-title
      color: #000
      margin-right: 10px
    &>p
      margin 0
    a
      color #595f67
      word-break break-all
      font-family sans-serif
      &:hover
        text-decoration underline

