.post
  height: 100%
  font-size: 18px
  line-height: 1.6
  background: white
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  color: #2f2f2f
  font-weight: normal
  & ::selection
    color: white
    background: #33caa6
    text-shadow: none
  .pjax
    max-width 780px
    margin: 0 auto
    overflow-y: auto
    transition padding-right .5s;
    &.fadeIns
      -webkit-animation: fadeIns .3s
      -moz-animation: fadeIns .3s
      -ms-animation: fadeIns .3s
      -o-animation: fadeIns .3s
      animation: fadeIns .3s
    &.fadeOuts
      -webkit-animation: fadeOuts .2s
      -moz-animation: fadeOuts .2s
      -ms-animation: fadeOuts .2s
      -o-animation: fadeOuts .2s
      animation: fadeOuts .2s
    article
      padding-top: 2.5em
      .article-meta
        font-size: .9em
        color: #BCC1C4
        .date
          &:before
            content: "\e94e"
        .tag
          margin-left: 1em
          &:before
            content: "\e936"
          a
            height: 18px
            line-height: 18px
            font-size: 0.9em
            padding: 0 5px 0 10px
            color: #fff
            position: relative
            border-radius: 0 5px 5px 0
            margin: 5px 9px 5px 8px
            &:hover
              text-decoration: none
            &:before
              content: " "
              width: 0
              height: 0
              position: absolute
              top: 0
              left: -18px
              border: 9px solid transparent
              border-right-color: #d0d0d0
            &:after
              content: " "
              width: 4px
              height: 4px
              background-color: #fff
              border-radius: 4px
              box-shadow: 0 0 0 1px rgba(0,0,0,.3)
              position: absolute
              top: 7px
              left: 2px
            &.color1
              background:  #FF945C
              &:before
                border-right-color: #FF945C
            &.color2
              background:  #cc8167
              &:before
                border-right-color: #cc8167
            &.color3
              background:  #BA8F6C
              &:before
                border-right-color: #BA8F6C
            &.color4
              background: #94635c
              &:before
                border-right-color:#94635c
            &.color5
              background: #7B5D5F
              &:before
                border-right-color:#7B5D5F
        .top:before
          content "\f08d"
      .article-title
        margin: 0
        font-size: 1.8em
        border-bottom 0px
      .toc-ref
        display: none
      a
        color: #3194d0;
        word-break: break-all
        font-family: sans-serif
        font-weight: bold
        &:hover
          text-decoration: underline
      img
        max-width: 100%
        display block
        margin auto
      strong
        color: #653f3f
        font-size: 1.1em
      blockquote
        padding: 20px
        margin-bottom: 25px
        margin-left: 0px
        background-color: #f7f7f7
        border-left: 6px solid #b4b4b4
        word-break: break-word
        font-size: 16px
        font-weight: 400
        line-height: 30px
        .hljs-keyword
          color: #C678DD;
        p
          margin: 0px
      table
        padding: 0
        border-spacing: 0
        border-collapse: collapse
        tr
          border-top: 1px solid #cccccc
          background-color: white
          margin: 0
          padding: 0
          &:nth-child(2n)
            background-color: #f8f8f8
          th
            font-weight: bold
            border: 1px solid #cccccc
            text-align: left
            margin: 0
            padding: 6px 13px
            &:first-child, &:last-child
              margin-top: 0
              margin-bottom: 0
          td
            border: 1px solid #ddd
            text-align: left
            margin: 0
            padding: 6px 13px
            &:first-child, &:last-child
              margin-top: 0
              margin-bottom: 0
      /* Inline code */
      :not(pre) > code
        color: #BF1827;
        word-break: break-all;
        font-family: sans-serif;
        font-weight: bold;
  .copyright
    margin-top 50px
    padding-bottom 30px
    font-size 16px
    line-height 14px
    text-align center
    color #BCC1C4
    a
      color: #3194d0;
      word-break: break-all;
      font-family: sans-serif;
      font-weight: bold;
      &:hover
        text-decoration: underline


        